In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Bikeshare Data.csv")

data.head(10)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Duration,Start date,End date,Start station number,Start station,End station number,End station,Member type,time,temperature_2m,relativehumidity_2m,precipitation,windspeed_10m,date,holiday,isHoliday
0,0,2123,2123,496,2015-01-01 18:00,2015-01-01 18:00,31616,3rd & H St NE,31614,11th & H St NE,Casual,2015-01-01 18:00,4.6,38,0.0,15.6,2015-01-01,New Year's Day,1
1,1,1692,1692,1067,2015-01-01 16:00,2015-01-01 16:00,31270,8th & D St NW,31222,New York Ave & 15th St NW,Casual,2015-01-01 16:00,2.8,38,0.0,11.7,2015-01-01,New Year's Day,1
2,2,1096,1096,992,2015-01-01 13:00,2015-01-01 14:00,31602,Park Rd & Holmead Pl NW,31200,Massachusetts Ave & Dupont Circle NW,Member,2015-01-01 13:00,-4.4,60,0.0,9.5,2015-01-01,New Year's Day,1
3,3,657,657,1007,2015-01-01 11:00,2015-01-01 12:00,31237,25th St & Pennsylvania Ave NW,31229,New Hampshire Ave & T St NW,Casual,2015-01-01 11:00,-4.5,56,0.0,7.3,2015-01-01,New Year's Day,1
4,4,2295,2295,346,2015-01-01 19:00,2015-01-01 19:00,31246,M St & Pennsylvania Ave NW,31255,24th & N St NW,Member,2015-01-01 19:00,5.2,39,0.0,16.4,2015-01-01,New Year's Day,1
5,5,2548,2548,277,2015-01-01 23:00,2015-01-01 23:00,31603,1st & M St NE,31615,6th & H St NE,Member,2015-01-01 23:00,1.3,57,0.0,13.6,2015-01-01,New Year's Day,1
6,6,642,642,419,2015-01-01 11:00,2015-01-01 11:00,31241,Thomas Circle,31101,14th & V St NW,Member,2015-01-01 11:00,-4.5,56,0.0,7.3,2015-01-01,New Year's Day,1
7,7,1543,1543,467,2015-01-01 15:00,2015-01-01 15:00,31264,6th St & Indiana Ave NW,31244,4th & E St SW,Member,2015-01-01 15:00,1.0,43,0.0,10.0,2015-01-01,New Year's Day,1
8,8,298,298,276,2015-01-01 6:00,2015-01-01 6:00,31237,25th St & Pennsylvania Ave NW,31225,C & O Canal & Wisconsin Ave NW,Member,2015-01-01 6:00,-4.4,58,0.0,7.9,2015-01-01,New Year's Day,1
9,9,1303,1303,228,2015-01-01 14:00,2015-01-01 14:00,31610,Eastern Market / 7th & North Carolina Ave SE,31618,4th & East Capitol St NE,Member,2015-01-01 14:00,-1.4,51,0.0,9.7,2015-01-01,New Year's Day,1

In [3]:
#write 3-5 questions that you can answer with this dataset

#top 10 stations
#busiest time (day, month, year)
#no of people?
##duration
#membership
#offers introduced during less busy time

In [4]:
data.columns

Index(['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0', 'Duration', 'Start date',
       'End date', 'Start station number', 'Start station',
       'End station number', 'End station', 'Member type', 'time',
       'temperature_2m', 'relativehumidity_2m', 'precipitation',
       'windspeed_10m', 'date', 'holiday', 'isHoliday'],
      dtype='object')

In [5]:
for column in data.columns:
    print (column)

Unnamed: 0.2
Unnamed: 0.1
Unnamed: 0
Duration
Start date
End date
Start station number
Start station
End station number
End station
Member type
time
temperature_2m
relativehumidity_2m
precipitation
windspeed_10m
date
holiday
isHoliday

In [6]:
data.shape

(860924, 19)

In [7]:
data.dtypes

Unnamed: 0.2              int64
Unnamed: 0.1              int64
Unnamed: 0                int64
Duration                  int64
Start date               object
End date                 object
Start station number      int64
Start station            object
End station number        int64
End station              object
Member type              object
time                     object
temperature_2m          float64
relativehumidity_2m       int64
precipitation           float64
windspeed_10m           float64
date                     object
holiday                  object
isHoliday                 int64
dtype: object

In [8]:
#har column mein kitne null values?
data.isnull().sum()

Unnamed: 0.2                 0
Unnamed: 0.1                 0
Unnamed: 0                   0
Duration                     0
Start date                   0
End date                     0
Start station number         0
Start station                0
End station number           0
End station                  0
Member type                  0
time                         0
temperature_2m               0
relativehumidity_2m          0
precipitation                0
windspeed_10m                0
date                         0
holiday                 838265
isHoliday                    0
dtype: int64

In [9]:
#no of members
#no of casuals

data["Member type"].value_counts()

#many many more members

Member type
Member    681361
Casual    179563
Name: count, dtype: int64

In [10]:
#what is the min and max duration ?
min_duration = data['Duration'].min()

min_duration

60

In [11]:
max_duration = data['Duration'].max()

max_duration

86305

In [12]:
#any cols datatypes to be converted?
#need to change start and end date column + time
#unnamed drop?

#dropping null rows
#fill N/A -- 'Not a Holiday/Working Day'
#detect outliers

In [13]:
data = data.drop(columns = ['Unnamed: 0.2'])

In [14]:
data.head()

,Unnamed: 0.1,Unnamed: 0,Duration,Start date,End date,Start station number,Start station,End station number,End station,Member type,time,temperature_2m,relativehumidity_2m,precipitation,windspeed_10m,date,holiday,isHoliday
0,2123,2123,496,2015-01-01 18:00,2015-01-01 18:00,31616,3rd & H St NE,31614,11th & H St NE,Casual,2015-01-01 18:00,4.6,38,0.0,15.6,2015-01-01,New Year's Day,1
1,1692,1692,1067,2015-01-01 16:00,2015-01-01 16:00,31270,8th & D St NW,31222,New York Ave & 15th St NW,Casual,2015-01-01 16:00,2.8,38,0.0,11.7,2015-01-01,New Year's Day,1
2,1096,1096,992,2015-01-01 13:00,2015-01-01 14:00,31602,Park Rd & Holmead Pl NW,31200,Massachusetts Ave & Dupont Circle NW,Member,2015-01-01 13:00,-4.4,60,0.0,9.5,2015-01-01,New Year's Day,1
3,657,657,1007,2015-01-01 11:00,2015-01-01 12:00,31237,25th St & Pennsylvania Ave NW,31229,New Hampshire Ave & T St NW,Casual,2015-01-01 11:00,-4.5,56,0.0,7.3,2015-01-01,New Year's Day,1
4,2295,2295,346,2015-01-01 19:00,2015-01-01 19:00,31246,M St & Pennsylvania Ave NW,31255,24th & N St NW,Member,2015-01-01 19:00,5.2,39,0.0,16.4,2015-01-01,New Year's Day,1

In [18]:
#replace null values in holiday column with "Not a Holiday"
data ['holiday'] = data['holiday'].fillna('Not a Holiday')

data['holiday'].value_counts()

holiday
Not a Holiday                  838265
Independence Day                 2915
Memorial Day                     2913
Emancipation Day                 2837
Labor Day                        2752
Columbus Day                     2116
Veterans Day                     1970
Emancipation Day (Observed)      1084
Washington's Birthday            1052
Martin Luther King Jr. Day        827
New Year's Day                    781
Thanksgiving                      698
Independence Day (Observed)       640
Veterans Day (Observed)           610
Indigenous Peoples' Day           564
Christmas Day                     422
Inauguration Day                  278
Christmas Day (Observed)          118
New Year's Day (Observed)          82
Name: count, dtype: int64

In [22]:
#rename duration to duration (in seconds)
data = data.rename (columns = {'Duration': 'Duration (in seconds)'})

data.head()

,Unnamed: 0.1,Unnamed: 0,Duration (in seconds,Start date,End date,Start station number,Start station,End station number,End station,Member type,time,temperature_2m,relativehumidity_2m,precipitation,windspeed_10m,date,holiday,isHoliday
0,2123,2123,496,2015-01-01 18:00,2015-01-01 18:00,31616,3rd & H St NE,31614,11th & H St NE,Casual,2015-01-01 18:00,4.6,38,0.0,15.6,2015-01-01,New Year's Day,1
1,1692,1692,1067,2015-01-01 16:00,2015-01-01 16:00,31270,8th & D St NW,31222,New York Ave & 15th St NW,Casual,2015-01-01 16:00,2.8,38,0.0,11.7,2015-01-01,New Year's Day,1
2,1096,1096,992,2015-01-01 13:00,2015-01-01 14:00,31602,Park Rd & Holmead Pl NW,31200,Massachusetts Ave & Dupont Circle NW,Member,2015-01-01 13:00,-4.4,60,0.0,9.5,2015-01-01,New Year's Day,1
3,657,657,1007,2015-01-01 11:00,2015-01-01 12:00,31237,25th St & Pennsylvania Ave NW,31229,New Hampshire Ave & T St NW,Casual,2015-01-01 11:00,-4.5,56,0.0,7.3,2015-01-01,New Year's Day,1
4,2295,2295,346,2015-01-01 19:00,2015-01-01 19:00,31246,M St & Pennsylvania Ave NW,31255,24th & N St NW,Member,2015-01-01 19:00,5.2,39,0.0,16.4,2015-01-01,New Year's Day,1

In [27]:
#add a column for duration in mins
data ['Duration (in mins)'] = data['Duration (in seconds']/60

data.head()

,Unnamed: 0.1,Unnamed: 0,Duration (in seconds,Start date,End date,Start station number,Start station,End station number,End station,Member type,time,temperature_2m,relativehumidity_2m,precipitation,windspeed_10m,date,holiday,isHoliday,Duration (in mins)
0,2123,2123,496,2015-01-01 18:00,2015-01-01 18:00,31616,3rd & H St NE,31614,11th & H St NE,Casual,2015-01-01 18:00,4.6,38,0.0,15.6,2015-01-01,New Year's Day,1,8.266667
1,1692,1692,1067,2015-01-01 16:00,2015-01-01 16:00,31270,8th & D St NW,31222,New York Ave & 15th St NW,Casual,2015-01-01 16:00,2.8,38,0.0,11.7,2015-01-01,New Year's Day,1,17.783333
2,1096,1096,992,2015-01-01 13:00,2015-01-01 14:00,31602,Park Rd & Holmead Pl NW,31200,Massachusetts Ave & Dupont Circle NW,Member,2015-01-01 13:00,-4.4,60,0.0,9.5,2015-01-01,New Year's Day,1,16.533333
3,657,657,1007,2015-01-01 11:00,2015-01-01 12:00,31237,25th St & Pennsylvania Ave NW,31229,New Hampshire Ave & T St NW,Casual,2015-01-01 11:00,-4.5,56,0.0,7.3,2015-01-01,New Year's Day,1,16.783333
4,2295,2295,346,2015-01-01 19:00,2015-01-01 19:00,31246,M St & Pennsylvania Ave NW,31255,24th & N St NW,Member,2015-01-01 19:00,5.2,39,0.0,16.4,2015-01-01,New Year's Day,1,5.766667

In [30]:
data['Duration (in mins)'].mean()

18.678761230182147

In [33]:
#threshold


#Q1 = 25th percentile
#Q3 = 75th percentile 
# Interquartile Range = Q3-Q1
#Median = 50th percentile 

IQR = 19.716667 - 6.716667
IQR

13.0

In [31]:
data['Duration (in mins)'].describe()

count    860924.000000
mean         18.678761
std          36.467395
min           1.000000
25%           6.716667
50%          11.533333
75%          19.716667
max        1438.416667
Name: Duration (in mins), dtype: float64

In [35]:
Q1 = data['Duration (in mins)'].quantile (0.25)
Q3 = data['Duration (in mins)'].quantile (0.75)

IQR = Q3-Q1

lower_bound = Q1  - 1.5*IQR
upper_bound = Q3 + 1.5* IQR

In [36]:
#I want data points that are above the lower bound but below the upper bound

filtered_df = data[(data['Duration (in mins)'] >= lower_bound) & (data['Duration (in mins)'] <= upper_bound)]

In [37]:
filtered_df.shape

(796555, 19)

In [39]:
filtered_df['Duration (in mins)'].describe()

count    796555.000000
mean         12.671120
std           7.987645
min           1.000000
25%           6.400000
50%          10.683333
75%          17.300000
max          39.200000
Name: Duration (in mins), dtype: float64

In [38]:
860924-796555

64369